html {
	background-image: url("/image/background.jpeg");
	background-size: cover;
}
body {
	font-family: 'Exo', sans-serif;
}
.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
@media only print and (max-width: 600px) {
	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}
@media only print and (min-width: 601px) and (max-width: 850px) {
	.name {
		width: 50%;
		order: 0
	}
	.logo {
		width: 50%;
		order: 1
	}
	.feature {
		width: 100%;
		order: 2
	}
	.map {
		width: 33.3%;
		order: 3
	}
	.resume {
		width: 33.3%;
		order: 4
	}
	.feedreader {
		width: 33.3%;
		order: 5
	}
}
@media only print and (min-width: 851px) {
	.name {
		width: 50%;
		order: 0
	}
	.logo {
		width: 50%;
		order: 1
	}
	.feature {
		width: 100%;
		order: 2
	}
	.map {
		width: 33.3%;
		order: 3
	}
	.resume {
		width: 33.3%;
		order: 4
	}
	.feedreader {
		width: 33.3%;
		order: 5
	}
}
